<div class="top-main">
    <h1>ユーザ一覧</h1>
    <p>users/index.html</p>
    <ul>
    <% @users.each do |user| %>
        <li>
            <p>名前:<%= link_to(user.name, "/users/#{user.id}") %></p>
            <p>年齢:<%= user.age %></p>
            <p>身長:<%= user.height %></p>
            <p>体重:<%= user.weight %></p>
        </li>
    <% end %>
    </ul>
</div>