<div class="home-main">
    <div class="container">
        <h2>体力検定Note</h2>
        <p>毎年の体力検定で、目標をしっかり立て、その記録を残すことで長期スパンで体力を管理していくためのサービスです</p>
    </div>

    <%= link_to("新規登録","/signup", class: "btn btn-primary")%>
    <%= link_to("ログイン","/login", class: "btn btn-primary")%>
</div>