<div class="top-main">
    <h1> posts/index </h1>

    <div class="target">
        <p>目標</p>
        <%= @target.date %>
    </div>
    <div class="records">
        <p>記録</p>
        <%= @record.date %>
    
    </div>
</div>