// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 指定したCSSを貼り付けてください
/* reset ================================ */

.nav {
  background-color: blanchedalmond;
}

ul, li {
  list-style-type: none;
}

.home-main {
  margin-top: 87px;
}

.wrapper {

}

/* フラッシュ ================================ */
.flash {
  padding: 5px 0;
  color: white;
  background: rgb(135, 173, 113);
  text-align: center;
  position: absolute;
  top: 56px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

footer {
  padding-top: 2px;

  text-align: right;
  background-color: #f8f9fa;
  h6 {
    font-size: 5px;
    margin-right: 10px;
  }
}