// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-main {
    margin-top: 87px;

    text-align: center;
  }

.user-card {
    text-align: center;

    .btn {
        margin-left: auto;
        margin-right: auto;
    }

    p {
        margin: 8px;
    }
}

.targets-title {
    text-align: center;
    margin: 3px;
    border-bottom: 1px solid gray;
}

.target-card {
    height: 170px;
    margin-top: 8px;
    margin-bottom: 8px;
    p {
        font-size: 20px;
    }
}

.record-card {
    height: 170px;
    margin-top: 8px;
    margin-bottom: 8px;
    p {
        font-size: 20px;
    }
}

h6{
    font-size: 16px;
}

.new-record {
    text-align: center;
    .btn {
        margin-left: auto;
        margin-right: auto;
    }
}

.zero-card {
    margin-top: auto;
    margin-bottom: auto;

    a {
        vertical-align: middle;
    }
}

.target-container {
    .col-5 {
        text-align: right;
    }
}