// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-main {
    margin-top: 87px;
  }

.user-card {
    text-align: center;

    .btn {
        margin-left: auto;
        margin-right: auto;
    }

    p {
        margin: 8px;
    }
}

.targets-title {
    text-align: center;
    margin: 3px;
    border-bottom: 1px solid gray;
}

.target-card {
    height: 180px;
    margin-top: 8px;
    margin-bottom: 8px;
    p {
        font-size: 20px;
    }
}

.record-card {
    height: 180px;
    margin-top: 8px;
    margin-bottom: 8px;
    p {
        font-size: 20px;
    }
}